<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricardo's Blog Community</title>
</head>

<header>
    <h1>The Tech Blog</h1>
</header>

<body>

    <main>
        {{{ body }}}
    </main>


</body>

</html>