<!-- displaying articles -->
{{> post-info post}}

<!-- displaying form and comments-->
<!-- only display if logged in -->


{{> comments post.comments}}



{{#if loggedIn}}
<form class="comments-form">
  <div>
    <textarea class="ml-5" name="comments-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}


{{#if loggedIn}}
<script src="/js/comments.js"></script>
{{/if}}
